<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <pipelines>
      <getChromeData>
        <processor patch:instead="*[@type='Sitecore.XA.Foundation.Editing.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.XA.Foundation.Editing']" type="Sitecore.Support.XA.Foundation.Editing.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.Support.258360" resolve="true" />
      </getChromeData>
    </pipelines>
  </sitecore>
</configuration>